.signup-container {
    background-color: #fff;
    padding: 2em;
    margin: 2em auto;
    margin-bottom: 6em;
    width: 40%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.signup-container h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
    color: #f23f56;
}
.signup-container form {
    display: flex;
    flex-direction: column;
}
.signup-container form label {
    margin: 0.5em 0 0.3em 0;
}
.signup-container form input,
.signup-container form select,
.signup-container form textarea {
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.signup-container form .signup-button {
    background-color: #f23f56;
    color: #fff;
    padding: 0.65em 1.2em;
    margin: 0 19em 0 19em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}
.signup-container form .signup-button:hover {
    background-color: #ffd6db;
    color: #f23f56;
}
@media (max-width:768px) {
    .signup-container h2 {
        font-size: 2em;
    }
    .signup-container {
        width: 80%;
    }
    .signup-container form .signup-button {
        margin: 0.2em;
    }
}